* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  --primary-color: #7abee9;
  --secondary-color: #47b88d;
  color: #7abee9;
}

body {
  background: #eee;
  padding: 1rem;
  width: 100dvw;
  outline: 1px solid black;
}

.container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  color: #fff;
  position: relative;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}

.img-section img {
  width: 100%;
  border-radius: 1rem;
  background: black;
}

.hero-section-content h1 {
  /* font-weight: 900; */
  /* font-family: "Anton", sans-serif; */
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(60px, 5vw, 30px);
}

.hero-section-content span {
  color: #124842;
  font-size: 13px;
  font-weight: 900;
  font-family: "Archivo Black", sans-serif;
}

.hero-section-content h2 {
  font-size: 2rem;
}

.hero-section-content p {
  color: #124842;
  font-family: "Archivo Black", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

summary:after {
  /* border: 2px solid #fff; */
  border-radius: 15px;
  content: "\f078";
  color: #000;
  float: right;
  font-family: "FontAwesome";
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  padding: 0.1rem 0.6rem;
  bottom: 50%;
}

details[open] > summary:after {
  content: "\f00d";
}

details[open] summary{
color: #47b88d;
border-bottom: 1px solid #47b88d;
padding-left: 1.5rem;
background: #eee;
}

details[open]:hover{
  transform: none;
}

details {
  margin: 0 1.5rem;
  transition: 0.4s;
  transition: 0.2s;
  color: #6f6f6f;
}

details:hover {
  /* background: #e9e8e8; */
  transform: translateX(-15px);
}

summary {
  /* padding-bottom: 1rem; */
  
  padding: 1.5rem 0 ;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  color: #060606;
  border-bottom: 1px solid #6f6f6f;
}

details > p {
  padding-block: 1rem;
  color: #6f6f6f;
  font-size: 0.8rem;
  background: #fff;
  margin: 0;
  padding-inline: 1.5rem;
}

.breadcrumbs {
  font-size: 16rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -10px;
  right: 5rem;
  z-index: -3;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }

  .hero-section {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .img-section img {
    border-radius: 2rem;
  }

  .hero-section-content span {
    font-size: 20px;
  }

  .hero-section-content h2 {
    font-size: 3rem;
  }

  .hero-section-content p {
    color: #124842;
    font-family: "Archivo Black", sans-serif;
  }

  details {
    margin: 1rem 3rem;
  }
}
